header {

}
section {
}
body {
  max-width: 600px;
  background-image: url('http://4.bp.blogspot.com/-4LNobKDdoVI/UmRGK7CY-II/AAAAAAAAQV4/FPqU_68OgOY/s1600/Webpage-background-free-seamless-tiling-patterns-4.jpg')
}

.images {
  margin: 10px;
  float: left;
}
.image {
  height: 130px;
  width: 130px;
}


